.lires {
    border: 2px solid black; /* Рамка вокруг каждого элемента списка */
    padding: 5px; /* Внутренний отступ */
    margin-bottom: 10px; /* Внешний отступ */
}

body {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.container {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.form-control, .btn {
    border-radius: 0;
}

.btn {
    background-color: #34495e;
    color: #ecf0f1;
    width: auto;
}

.btn:hover {
    background-color: #2c3e50;
}

.source-list {
    background-color: #34495e;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.source-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #2c3e50;
}

.source-item:last-child {
    border-bottom: none;
}

.source-item span {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-results {
    background-color: #34495e;
    padding: 10px;
    border-radius: 5px;
}

.highlight {
    background-color: orange;
}